<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <label>Marques </label>
        <select class="form-control form-control-lg" id="idMarque" name="idMarque"
        [(ngModel)]="idMarque" (change)="onChange()">
        <option *ngFor="let marque of marques" value="{{marque.idMarque}}">{{marque.nomMarque}}
         </option>
        </select>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Couleur</th><th>Marque</th></tr>
           
         </thead>
         <tbody *ngFor="let smartphone of smartphones">
             <tr >
              <td>{{smartphone.idSmartphone}}</td>
              <td>{{smartphone.nomModele}}</td>
              <td>{{smartphone.prix}}</td>
              <td>{{smartphone.color }}</td>
              <td>{{smartphone.marque.nomMarque }}</td>
              <!-- <td><a class="btn btn-danger" (click)="supprimerSmartphone(smartphone)">Supprimer</a></td>
              <td><a class="btn btn-success" [routerLink]="['/updateProduit',smartphone.idSmartphone]">Modifier</a></td> -->
            </tr>
         </tbody>
         </table>
       </div>
     </div>
</div>
