<div class="container">
  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2 mt-2 ">
    <label>Nom Smartphone en tapant</label>
    <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
    </div>
    </form>


   <!--  <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Smartphone</label>
        <input type="text" class="form-control" [(ngModel)]="nomModele" name="nomModele" class="form-control">
        <button type="submit" (click)="rechercherProds()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
        </form> -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Couleur</th><th>Marque</th></tr>
           
         </thead>
         <tbody *ngFor="let smartphone of smartphones">
             <tr >
              <td>{{smartphone.idSmartphone}}</td>
              <td>{{smartphone.nomModele}}</td>
              <td>{{smartphone.prix}}</td>
              <td>{{smartphone.color }}</td>
              <td>{{smartphone.marque.nomMarque }}</td>
              <!-- <td><a class="btn btn-danger" (click)="supprimerSmartphone(smartphone)">Supprimer</a></td>
              <td><a class="btn btn-success" [routerLink]="['/updateProduit',smartphone.idSmartphone]">Modifier</a></td> -->
            </tr>
         </tbody>
         </table>
       </div>
     </div>
</div>
